
.page-header {
    padding: 20px;
    background-color: black;
    color: white;
}

.page-container {
    margin-bottom: 50px;
    padding: 20px;
}

.fruits-list,
.sales-list {
    max-width: 1000px;
    overflow: hidden;
}

.fruits-new-btn,
.sales-new-btn {
    margin: 20px;
    float: right;
    font-size: 1.2em;
}

.login,
.top,
.fruits-edit,
.sales-edit {
    text-align: center;
}

.login-container,
.fruits-edit-container,
.sales-edit-container {
    display: inline-block;
}

.login-form,
.fruits-edit-form,
.sales-edit-form {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: left;
}

.top ul {
    list-style-type: none;
    margin-top: 50px;
    padding: 0;
}

.top ul li {
    padding-bottom: 25px;
    font-size: 1.5rem;
}

h3 {
    font-size: 1.5em;
}

.stats h3 {
    margin-top: 30px;
}

.sales-data-upload-form form p {
    display: inline-block;
}

.login-error-message {
    background-color: lightcoral;
}

.uploaded-message {
    display: inline-block;
    background-color: lightgreen;
}

.all-stats-total {
    font-size: 1.5em;
    font-weight: bold;
}
